<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.twesix.learn.android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Learn Android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".cases.NotificationExample" />

        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DaemonService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BaseService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BaseIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="intent.BOOT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Sign in" />
        <activity android:name=".cases.BroadcastExample" />
        <activity android:name=".cases.ServiceExample" />
        <activity android:name=".cases.MyOkHttpExamples" />
        <activity android:name=".activity.FragmentStatic" />
        <activity android:name=".cases.Chat" />
        <activity android:name=".cases.MyRecyclerView" />
        <activity android:name=".cases.MyListView" />
        <activity android:name=".activity.CommonWidgets" />
        <activity android:name=".cases.MyWebView" />

        <receiver
            android:name=".receiver.BaseBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NetworkObserver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="intent.EXAMPLE_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>